.line-style{
  height:2px;
}

.relative {
  position: relative;
}

.mb-4 {
  margin-bottom: 1rem;
}
.columns-2 {
  column-count: 2;
}

.columns-3 {
  column-count: 3;
}

.h-80 {
  height: 20rem;
}

.h-40 {
  height: 10rem;
}

.picmargin{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-4{
  margin-bottom: 1rem;
}

