<div class="main-container">

  <div class="content">
    <h2>My Moments</h2>
    <p>
      Some of my favourite pictures
    </p>

    <div class="columns-3 picmargin">
      <!-- Left Image 1 Landscape -->
      <div class="relative h-40 mb-4">
        <img src="img/travel/Rose.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
      </div>
      <!-- Left Image 2 Portrait -->
      <div class="relative h-80 mb-4">
        <img src="img/travel/Ladakh1.jpeg" alt="Me receiving Gold Medal" class="img-fluid rounded">
      </div>
      <!-- Left Image 3 Landscape -->
      <div class="relative h-40 mb-4">
        <img src="img/travel/Diwali.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
      </div>
      <!-- Center Image 1 Portrait -->
      <div class="relative h-80 mb-4">
        <img src="img/travel/Diya.jpg" alt="Me receiving Gold Medal" class="img-fluid rounded">
      </div>
      <!-- Center Image 2 Landscape -->
      <div class="relative h-40 mb-4">
        <img src="img/travel/Sunrise.jpeg" alt="Me receiving Gold Medal" class="img-fluid rounded">
      </div>
      <!-- Center Image 3 Landscape -->
      <div class="relative h-40 mb-4">
        <img src="img/travel/Sunset.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
      </div>
      <!-- Right Image 1 Landscape -->
      <div class="relative h-40 mb-4">
        <img src="img/travel/Moon.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
      </div>
      <!-- Right Image 2 Portrait -->
      <div class="relative h-80 mb-4">
        <img src="img/travel/Ladakh2.jpeg" alt="Me receiving Gold Medal" class="img-fluid rounded">
      </div>
      <!-- Right Image 3 Landscape -->
      <div class="relative h-40 mb-4">
        <img src="img/travel/Clouds.jpeg" alt="Me receiving Gold Medal" class="img-fluid rounded">
      </div>
    </div>
  </div>
</div>
