<div class="main-container">
  <div class="content">
    <h2>My Projects</h2>

    <hr class="line-style">
    <section>
      <div>
        <a href="https://github.com/ishitasinha8/openai-app" target="_blank">
          <h4>Summify-it</h4>
        </a>

        <p>
          <a href="https://github.com/ishitasinha8/openai-app" target="_blank">
            <img src="img/projects/summify it.png" alt="Summify it" class="float-start">
          </a>
        </p>
        <p>
          Summarize project reports and provide key trends, costs, and risks using Azure OpenAI APIs.
        </p>
      </div>
      <br>
      <hr class="line-style">
      <div>
        <a href="https://github.com/ishitasinha8/visual-cryptography-with-cnn" target="_blank">
          <h4>Image-Encryption using Convolution Neural Network (CNN)</h4>
        </a>
        <p>
          <a href="https://github.com/ishitasinha8/visual-cryptography-with-cnn" target="_blank">
            <img src="img/projects/image encryption.png" alt="Image Encrytion" class="float-start">
          </a>
          </p>
        <p>
          My research project in College - Uses image to encrypt and send messages, receiver uses image overlap to get the secret.
          Used AI - CNN to enhance the quality of encryption.
        </p>
      </div>
      <br>
      <hr class="line-style">
      <div>
        <a href="https://github.com/ishitasinha8/ishitasinha8.github.io" target="_blank">
          <h4>Personal Portfolio</h4>
        </a>
        <p>
          <a href="https://github.com/ishitasinha8/ishitasinha8.github.io" target="_blank">
            <img src="img/projects/portfolio.png" alt="Personal Portfolio" class="float-start">
          </a>
          </p>
        <p>
          Developed my (this) website with Angular to host on Github pages.
          This information/tutorial was not available - so made my code/project available for community.
        </p>
      </div>
      <br>
      <hr class="line-style">
      <div>
        <a href="https://github.com/ishitasinha8/openai-docsearch" target="_blank">
          <h4>OpenAI Docsearch</h4>
        </a>
        <p>
          <a href="https://github.com/ishitasinha8/openai-docsearch" target="_blank">
            <img src="img/projects/docsearch.png" alt="Docsearch" class="float-start">
          </a>
          </p>
        <p>
          Looking for relevant information in a document set can be difficult.
          Developed an application to collate all the required documents from cloud and private data stores.
          And then used OpenAI and LLM to train the model on the submitted documents to enable prompt based search.
          These are Python Notebook codes, shall be uploading the application on Github soon!
        </p>
      </div>
      <br>
      <hr class="line-style">
    </section>

  </div>
</div>
