<div class="main-container">

  <div class="content">
    <h2>Hello, I'm Ishita</h2>
    <p>
      Welcome to my personal site—I’m glad you’re here!
    </p>
    <p>
      I’m a computer science enthusiast dedicated
      to using technology to solve real-world problems.
    </p>
    <p>
      My journey in tech began with an early fascination for innovation.
      I pursued computer science for the love of the subject and excelled academically - Gold medallist in 4 years of B.Tech.
    </p>
    <p>
      I like research projects and completed a few during college and work.
      I am in the process of publishing one of my research to use AI (Convolution Neural Networks) in image-based cryptography.
      I applied for a patent on QbV for TSN during my internship at Keysight.
    </p>
    <p>
      I work at Microsoft where I develop software applications using OpenAI and Azure.
      I like coding in Python and Java.
    </p>
    <p>
      Beyond tech, I’m passionate about traveling and photography.
      I’ve had the privilege of exploring diverse cultures across India, Europe, and Southeast Asia,
      capturing memories along the way.
    </p>

    <div class="columns-3 picmargin">
      <!-- Left Image 1 Landscape -->
      <div class="relative h-40 mb-4">
        <img src="img/home/GoldMedal.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
      </div>
      <!-- Left Image 2 Portrait -->
      <div class="relative h-80 mb-4">
        <img src="img/home/Eiffel.jpg" alt="My Eiffel Click" class="img-fluid rounded">
      </div>
      <!-- Center Image 1 Portrait -->
      <div class="relative h-80 mb-4">
        <img src="img/home/Microsoft.jpeg" alt="Standing in front of Microsoft building" class="img-fluid rounded">
      </div>
      <!-- Center Image 2 Landscape -->
      <div class="relative h-40 mb-4">
        <img src="img/home/Alps.jpg" alt="Swiss Alps" class="img-fluid rounded">
      </div>
      <!-- Right Image 1 Landscape -->
      <div class="relative h-40 mb-4">
        <img src="img/home/Paragliding.png" alt="Paragliding" class="img-fluid rounded">
      </div>
      <!-- Right Image 2 Portrait -->
      <div class="relative h-80 mb-4">
        <img src="img/home/Ladakh.jpg" alt="Ladakh" class="img-fluid rounded">
      </div>
    </div>
  </div>
</div>

<!-- <div class="image-grid">
      <img src="img/IMG_4999.JPG" alt="Me receiving Gold Medal">
      <img src="img/IMG_4999.JPG" alt="Me receiving Gold Medal">
    </div>
    <div class="image-grid">
      <img src="img/IMG_4999.JPG" alt="Me receiving Gold Medal">
      <img src="img/IMG_4999.JPG" alt="Me receiving Gold Medal">
    </div> -->

    <!-- <div class="container text-center">
      <div class="row">
        <div class="col">
          <img src="img/IMG_4999.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
        </div>
        <div class="col">
          <img src="img/IMG_4999.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
        </div>
        <div class="col">
          <img src="img/IMG_4999.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="img/IMG_4999.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
        </div>
        <div class="col">
          <img src="img/IMG_4999.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
        </div>
        <div class="col">
          <img src="img/IMG_4999.JPG" alt="Me receiving Gold Medal" class="img-fluid rounded">
        </div>
      </div>
    </div> -->

    <!-- <div class="image-grid">
      <img src="img/IMG_4999.JPG" alt="Image 1">
      <img src="img/IMG_4999.JPG" alt="Image 2">
      <img src="img/IMG_4999.JPG" alt="Image 3">
      <img src="img/IMG_4999.JPG" alt="Image 4">
      <img src="img/IMG_4999.JPG" alt="Image 5">
      <img src="img/IMG_4999.JPG" alt="Image 6">
    </div> -->
